.card {
  box-shadow: -1px 3px 8px rgba(0, 0, 0, .15);
  transition: box-shadow .25s;
  border-bottom: 2px solid var(--color-primary);
  background-color: #fff;
  color: var(--color-secondary);
  display: block;
}

.card:hover,
.card:active,
.card:focus {
  box-shadow: -1px 3px 8px rgba(0, 0, 0, .35);
  border-color: var(--color-primary);
  color: var(--color-secondary);
}

.card:hover .btn-ghost,
.card:active .btn-ghost,
.card:focus .btn-ghost {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}
