.card {
  box-shadow: var(--shadow-primary);
  transition: box-shadow .25s;
  border-bottom: 2px solid var(--color-primary);
  background-color: #fff;
  color: var(--color-secondary);
  display: block;
}

.card-overlay {
  background: linear-gradient(to top, rgba(255, 255, 255, .5), rgba(255, 255, 255, .9)) top left / cover no-repeat;
}

.grid.card,
.grid .card {
  display: flex;
}

.card:hover,
.card:active,
.card:focus {
  box-shadow: var(--shadow-secondary);
  border-color: var(--color-primary);
  color: var(--color-secondary);
}

.card:hover span.btn-ghost,
.card:active span.btn-ghost,
.card:focus span.btn-ghost {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
  box-shadow: var(--shadow-secondary);
}

.checkout-card h3 {
  padding-right: 2.6rem;
}

.product-delete {
  color: var(--color-secondary);
  border: none;
}

.product-delete:hover,
.product-delete:focus,
.product-delete:active {
  color: var(--color-secondary-dark);
}

.delete-overlay {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
}

.checkout-items .delete-overlay {
  display: none;
}

.checkout-items .delete-overlay.delete-confirm {
  display: block;
}

.delete-overlay .card {
  max-width: 17.7em;
}

@media only screen and (min-width: 25em) {

  .card-overlay {
    background: none;
  }

  .product-quantity {
    position: absolute;
    bottom: .65rem;
    right: .65rem;
  }

  .checkout-card h3 {
    padding-right: 2.8rem;
  }

  .checkout-card p:last-child {
    margin: 0;
  }

  .delete-overlay .card {
    max-width: 20em;
  }

}

@media only screen and (min-width: 38em) {

  .checkout-card h3 {
    padding-right: 3rem;
  }

  .product-quantity {
    bottom: .7rem;
    right: .7rem;
  }

}

@media only screen and (min-width: 60em) {

  .product-quantity {
    bottom: .75rem;
    right: .75rem;
  }

}
