.card {
  box-shadow: var(--shadow-primary);
  transition: box-shadow .25s;
  border-bottom: 2px solid var(--color-primary);
  background-color: #fff;
  color: var(--color-secondary);
  display: block;
}

.card:hover,
.card:active,
.card:focus {
  box-shadow: var(--shadow-secondary);
  border-color: var(--color-primary);
  color: var(--color-secondary);
}

.card:hover .btn-ghost,
.card:active .btn-ghost,
.card:focus .btn-ghost {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
  box-shadow: var(--shadow-secondary);
}
