.bread-crumbs li {
  padding-right: 1.25rem;
  background: url("../../images/bread-crumbs-arrow.svg") center right / 1rem auto no-repeat;
}

.bread-crumbs li:last-child,
li.bread-crumbs-active {
  padding-right: 0;
  background: none;
}

.bread-crumbs a {
  color: var(--color-secondary);
  border: none;
}

.bread-crumbs a:hover,
.bread-crumbs a:active,
.bread-crumbs a:focus {
  color: var(--color-primary);
}

.bread-crumbs li:last-child a,
.bread-crumbs-active a {
  color: var(--color-primary);
}

.bread-crumbs li:last-child a:hover,
.bread-crumbs li:last-child a:active,
.bread-crumbs li:last-child a:focus,
.bread-crumbs-active a:hover,
.bread-crumbs-active a:focus,
.bread-crumbs-active a:active {
  color: var(--color-primary-dark);
}

.category-selector {
  transition: color .25s;
  border: none;
  color: var(--color-secondary);
}

.category-selector img {
  filter: grayscale(1);
  transition: filter .25s;
}

.category-selector:hover,
.category-selector:focus,
.category-selector:active {
  color: var(--color-primary);
}

.category-selector:hover img,
.category-selector:focus img,
.category-selector:active img {
  filter: grayscale(.5);
}

.category-selected {
  color: var(--color-primary);
}

.category-selected img,
.category-selected:hover img,
.category-selected:focus img,
.category-selected:active img {
  filter: none;
}

.product-sort .unit {
  display: none;
}

.category-all .unit {
  display: flex;
}

.category-board-games .board-games {
  display: flex;
}

.category-card-games .card-games {
  display: flex;
}

.category-rpgs .rpgs {
  display: flex;
}

.category-dice .dice {
  display: flex;
}

.category-other .other {
  display: flex;
}

.products select,
.products label {
  margin-bottom: .65rem;
}

@media only screen and (min-width: 38em) {

  .products h2 {
    margin: 0;
  }

  .product-search-sort {
    text-align: right;
  }

  .product-search-sort .unit:last-child {
    padding-left: 1.4rem;
  }

  .products select,
  .products label {
    margin-bottom: 0;
  }

}

@media only screen and (min-width: 60em) {

  .product-search-sort .unit:last-child {
    padding-left: 1.5rem;
  }

}
