.masthead {
  box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
  border-bottom: 2px solid var(--color-primary);
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000000;
}

.i-logo {
  width: 2rem;
  height: 2rem;
}

.i-social {
  width: 1.5rem;
  height: 1.5rem;
}

.i-logo + span {
  display: none;
}

.masthead a {
  color: var(--color-secondary);
  border: none;
}

.masthead a:hover,
.masthead a:focus,
.masthead a:active {
  color: var(--color-primary);
}

.nav-label {
  width: 2rem;
  height: 1.5rem;
  position: relative;
  z-index: 1100;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  vertical-align: middle;
}

.nav-label:hover,
.nav-label:focus,
.nav-label:active {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.nav-label:hover .tog,
.nav-label:focus .tog,
.nav-label:active .tog {
  background-color: var(--color-primary);
}

.tog {
  background-color: var(--color-secondary);
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  border-radius: 5px;
  transition: background-color .23s, opacity .25s, transform .25s, left .25s, top .25s, bottom .25s;
}

.top {
  top: 0;
}

.middle {
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  bottom: 0;
}

.nav-label-open .top {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.nav-label-open .middle {
  opacity: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.nav-label-open .bottom {
  bottom: 50%;
  left: 50%;
  transform: translateY(50%) translateX(-50%) rotate(-45deg);
}

nav {
  position: fixed;
  width: 66%;
  height: calc(100vh - 4.2206rem);
  left: -100vw;
  top: 4.2206rem;
  background-color: #fff;
  box-shadow: var(--shadow-primary);
  border-bottom: 2px solid var(--color-primary);
  transition: left .5s ease-in-out;
}

nav.nav-open {
  left: 0;
}

nav .list-group-inline a {
  color: var(--color-primary);
}

nav .list-group-inline a:hover {
  color: var(--color-secondary);
}

li.xs-hidden {
  display: none;
}

@media only screen and (min-width: 25em) {

  .i-logo + span {
    display: inline-block;
  }

}

@media only screen and (min-width: 38em) {

  input,
  textarea {
    display: block;
    width: 100%;

    background-color: #fff;
    border: 2px solid var(--color-grey-medium);
    border-bottom: 2px solid var(--color-primary);
    border-radius: 0;
  }

  .search-label .icon {
    z-index: 1000;
    transition: transform .35s;
  }

  [type="search"].search {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    opacity: 0;
    transition:
      width .35s,
      opacity .35s;
    border-bottom: 2px solid var(--color-grey-medium);
  }

  .search-container:hover [type="search"].search,
  [type="search"].search:valid,
  [type="search"].search:active,
  [type="search"].search:focus {
    width: 10rem;
    opacity: 1;
    padding-left: 2rem;
  }

  .search-container:hover .search-label .icon,
  [type="search"].search:valid + .search-label .icon,
  [type="search"].search:hover + .search-label .icon,
  [type="search"].search:active + .search-label .icon,
  [type="search"].search:focus + .search-label .icon {
    transform: translateX(-7.9rem) scale(.8);
  }

  .i-logo {
    width: 3rem;
    height: 3rem;
  }

  li.xs-hidden {
    display: inline-block;
  }

  nav {
    position: static;
    width: auto;
    height: auto;
    box-shadow: none;
    border-bottom: none;
    display: inline-block;
    vertical-align: middle;
  }

  nav .list-group li {
    display: inline-block;
  }

  nav .list-group li:first-child {
    padding-left: 0;
  }

  li.nav-tog {
    display: none;
  }

  .list-group li.ml-hidden {
    display: none;
  }

}
