.photo-array-btn,
.photo-array-main .embed,
.photo-array-btn:hover,
.photo-array-btn:active,
.photo-array-btn:focus {
  border-bottom: 2px solid var(--color-primary);
  box-shadow: var(--shadow-primary);
  transition: box-shadow .25s;
  background-color: #fff;
}

.photo-array-btn-selected,
.photo-array-btn:hover,
.photo-array-btn:active,
.photo-array-btn:focus,
.photo-array-active:hover,
.photo-array-active:active,
.photo-array-active:focus {
  box-shadow: var(--shadow-secondary);
}

.photo-array-focus {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.photo-array-focus img {
  width: 75vw;
  height: auto;
  min-height: auto;
  min-width: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
}

.photo-array-focus-previous,
.photo-array-focus-next,
.photo-array-focus-close {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-bottom: none;
  opacity: .5;
  transition: opacity .25s;
}

.photo-array-focus-previous:hover,
.photo-array-focus-previous:focus,
.photo-array-focus-next:hover,
.photo-array-focus-next:focus,
.photo-array-focus-close:hover,
.photo-array-focus-close:focus {
  opacity: 1;
  color: #fff;
}

.photo-array-focus-close {
  top: 1.3rem;
  right: 1.3rem;
  transform: none;
}

@media only screen and (min-width: 38em) {

  .photo-array-focus-open {
    display: block;
  }

  .photo-array-focus-close {
    top: 1.4rem;
    right: 1.4rem;
    transform: none;
  }

  .photo-array-focus-previous {
    left: 1.4rem;
  }

  .photo-array-focus-next {
    right: 1.4rem;
  }

}

@media only screen and (min-width: 60em) {

  .photo-array-focus img {
    width: auto;
    height: 90vh;
  }

  .photo-array-focus-close {
    top: 1.5rem;
    right: 1.5rem;
    transform: none;
  }

  .photo-array-focus-previous {
    left: 1.5rem;
  }

  .photo-array-focus-next {
    right: 1.5rem;
  }

}
