:root {
  --color-primary: #00953b;
  --color-primary-light: #7ccb99;
  --color-primary-dark: #034b26;
  --color-secondary: #666;
  --color-secondary-dark: #333;
  --color-grey-medium: #f3f3f3;
  --color-grey-light: #fafafa;
  --font-primary: "Roboto", sans-serif;
  --shadow-primary: -1px 3px 8px rgba(0, 0, 0, .15);
  --shadow-secondary: -1px 3px 8px rgba(0, 0, 0, .35);
}

::selection {
  background-color: var(--color-primary);
  color: #fff;
}

html {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  background-color: var(--color-grey-medium);
}

main {
  margin-top: 3.4475rem;
}

h1 {
  color: var(--color-primary);
}

h3,
legend {
  color: var(--color-primary);
  font-weight: 500;
}

h4 {
  font-weight: 500;
}

h5 {
  font-weight: 500;
}

h6 {
  color: var(--color-primary);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: .1em solid var(--color-primary-light);
  transition:
    color .25s,
    border-color .25s;
}

a:hover {
  color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}

mark {
  background-color: var(--color-primary-light);
}

hr {
  border-color: var(--color-secondary);
}

.text-primary {
  color: var(--color-primary);
}

.font-medium {
  font-weight: 500;
}

.border-bottom-secondary {
  border-bottom: 2px solid var(--color-secondary);
}

.border-bottom-grey-medium {
  border-bottom: 2px solid var(--color-grey-medium);
}

.border-bottom-grey-light {
  border-bottom: 2px solid var(--color-grey-light);
}

@media only screen and (min-width: 38em) {

  main {
    margin-top: 4.5087rem;
  }

}
