.section-highlight {
  box-shadow: var(--shadow-primary);
  transition: box-shadow .25s;
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-secondary);
  display: block;
}

.section-highlight-light {
  background-color: #fff;
}

.section-highlight-medium {
  background-color: var(--color-grey-light);
}

.section-highlight-dark {
  background-color: var(--color-grey-medium);
}
